.collecting__legend {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.collecting__fieldset {
  flex: 1 0 auto;
}

.collecting__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collecting__label {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
  user-select: none;
}

.collecting__icon {
  margin-right: 12px;
  width: 27px;
  height: 27px;
  border-radius: 50%/50%;
  background-color: #ffffff;
  transition: outline 0.3s ease-out;
}

.collecting__icon_rect {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

.collecting__input:focus + .collecting__icon {
  outline: 1px solid #CD06FF;
  outline-offset: 2px;
}

.collecting__input:checked + .collecting__icon {
  outline: 8px solid #CD06FF;
  outline-offset: -8px;
}


