.header {
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__logo {
  font-size: 0;
  max-width: 120px;
}

.header__btn {
  margin-top: 4px;
  padding: 10px 29px 9px 29px;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s linear, border 0.3s linear;
}

.header__btn:hover,
.header__btn:focus {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.header__btn:focus {
  outline: none;
}

.header__btn:active {
  background-color: #640AA3;
  border: 3px solid #640AA3;
}

@media (max-width: 1100px) {
  .header__logo {
    max-width: 87px;
  }

  .header__btn {
    padding: 8px 24px 7px 23px;
    margin-top: 2px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 880px) {
  .header {
    padding-top: 32px;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header__burger {
    display: block;
    max-width: 54px;
    padding-top: 10px;
  }

  .header__navigator {
    box-sizing: content-box;
    position: absolute;
    top: 89px;
    left: 0px;
    height: 0;
    background-color: rgb(27, 26, 27);
    z-index: 500;
    transition: height .4s ease-in-out;
    overflow: hidden;
    order: 1;
    width: 100%;
  }

  .header__navigator.navigator_active {
    height: auto;
  }

  .header__btn {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .header {
    padding-top: 19px;
  }

  .header__logo {
    max-width: 66px;
  }

  .header__burger {
    max-width: 39px;
    padding-top:10px;
  }

  .header__navigator {
    top: 76px;
  }

  .header__wrapper {
    position: absolute;
    height: 0;
    overflow: hidden;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
  }

  .header__wrapper.wrapper-active {
    height: auto;
    background-color: rgb(27, 26, 27);
    width: 100%;
    text-align: center;
    padding-bottom: 27px;
    z-index: 1001;
    top: 372px;
    transform: translateX(-50%);
    left: 50%;
  }

  .wrapper-active .header__btn {
    margin-top: 0;
  }
}

