.information {
  padding-top: 100px;
}

.information__wrap {
  display: block;
}

.information__container {
  font-size: 0;
}

.information__title {
  margin-bottom: 47px;
}

.information__wrapper {
  width: 100%;
  display: grid;
  grid-template: 222px 325px / minmax(420px, 600px) minmax(444px, 500px);
  grid-template-areas:
    "gallery content-text"
    "gallery quote";
    gap: 58px 80px;
}

.information__img {
  grid-area: gallery;
}

.information__content {
  grid-area: content-text;
}

.information__quote {
  grid-area: quote;
}

.information__text {
  margin-bottom: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.information__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .information {
    padding-top: 70px;
  }

  .information__title {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 40px;
  }

  .information__wrapper {
    grid-template: 195px 217px / minmax(382px, 420px) minmax(278px, 444px);
    grid-template-areas:
      "gallery content-text"
      "gallery quote";
    gap: 37px 40px;
  }

  .information__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1000px) {
  .information__wrap {
    display: inline;
  }
}


@media (max-width: 910px) {
  .information {
    padding-top: 60px;
  }

  .information__container {
    padding: 0 40px;
  }

  .information__wrap {
    display: block;
  }

  .information__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }

  .information__wrapper {
    grid-template: repeat(auto-fill, minmax(184px, 380px)) / 382px minmax(150px, 287px);
    grid-template-areas:
      "gallery content-text"
      "quote quote";
      gap: 41px 28px;
  }

  .information__content {
    align-self: center;
  }

  .information__img {
    align-self: center;
  }

  .information__wrap {
    display: inline;
  }

  .information__text {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 740px) {
  .information__wrap {
    display: inline;
  }
}

@media (max-width: 640px) {
  .information {
    padding-top: 30px;
  }

  .information__container {
    padding: 0 20px;
  }

  .information__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .information__wrapper {
    grid-template: auto / 100%;
    grid-template-areas:
      "content-text"
      "gallery"
      "quote";
      gap: 15px;
  }

  .information__text {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }

  .information__quote {
    padding-top: 6px;
  }

}
