.lounge {
  padding-bottom: 100px;
}

.lounge__title {
  padding-bottom: 60px;
}

.lounge__list {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lounge__item {
  position: relative;
  width: 580px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.3s ease-out;
}

.lounge__item:hover {
  z-index: 100;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.lounge__figure {
  width: 100%;
  height: 350px;
  text-align: center;
}

.lounge__caption {
  margin-top: -45%;
  max-width: 252px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}



