.navigator__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navigator__item {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigator__link:focus {
  outline: var(--secondary-color)  1px solid;
}

@media (max-width: 1100px) {
  .navigator__list {
    gap: 20px;
  }

  .navigator__item {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 880px) {
  .navigator__list {
    flex-direction: column;
    gap: 0;
    padding-top: 58px;
    padding-bottom: 39px;
  }

  .navigator__item {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 22px;

  }

  .navigator__link {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  .navigator__link:hover {
    background-color: #6C0287;
  }

  .navigator__link:active,
  .navigator__link:focus {
    background-color: var(--secondary-color);
  }
}

@media (max-width: 600px) {
  .navigator__list {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .navigator__item {
    font-size: 14px;
  }

  .navigator__link {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
