.navigator__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navigator__item {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigator__link:focus {
  outline: var(--secondary-color)  1px solid;
}

@media (max-width: 1100px) {
  .navigator__list {
    gap: 20px;
  }

  .navigator__item {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 880px) {
  .navigator__list {
    flex-direction: column;
    gap: 39px;
    padding-top: 78px;
    padding-bottom: 59px;
  }

  .navigator__item {
    font-size: 22px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .navigator__list {
    gap: 26px;
    padding-top: 45px;
    padding-bottom: 38px;
  }

  .navigator__item {
    font-size: 14px;
  }
}
