.question__item {
  position: relative;
  padding: 30px 70px;
  width: 100%;
  min-height: 87px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.question__item:not(:last-child) {
  margin-bottom: 20px;
}

.question__item:nth-child(odd) {
  color: #1C1A1A;
  background-color: #ffffff;
}

.question__item:nth-child(even) {
  color: #ffffff;
  background-color: #440F51;
}

.question__item::after {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  right: 70px;
  top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 46px;
}

.question__item:nth-child(odd):after {
  background-image: url('../image/question/open-violet.svg');
}

.question__item:hover:nth-child(odd):after {
  background-image: url('../image/question/open-violet_hover.svg');
}

.question__item:nth-child(even):after {
  background-image: url('../image/question/open-white.svg');
}

.question__item:hover:nth-child(even):after {
  background-image: url('../image/question/open-white_hover.svg');
}

.question__item:active:nth-child(odd):after {
  background-image: url('../image/question/close-violet_active.svg');
}

.question__item:active:nth-child(even):after {
  background-image: url('../image/question/close-white_active.svg');
}

