.review__container {
  padding: 0 127px 0 133px;
}

.review__title {
  padding-bottom: 40px;
}

.review__content {
  font-size: 0;
}

.review__content:not(:last-child) {
  margin-bottom: 52px;
}

.review__figure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 20px;
}

.review__figure::before {
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 50%/50%;
  position: absolute;
  top: 0;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  z-index: 10;
}

.review__avatar {
  margin-bottom: 11px;
  width: 280px;
  height: 280px;
  border-radius: 50%/50%;
  object-position: top;
  object-fit: cover;
  z-index: 1;
}

.review__avatar_center {
  object-position: center;
}

.review__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.review__comment {
  display: inline-block;
  vertical-align: top;
  padding-top: 52px;
  width: 680px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
