.socilal-nav__item {
  display: inline-block;
  vertical-align: middle;
}

.socilal-nav__link {
  margin-right: 28px;
  font-size: 0;
  transition: color 0.3s ease-out;
}

.socilal-nav__link:focus {
  color: #EADEED;
  outline: 1px solid var(--secondary-color);
}

.socilal-nav__link:active {
  outline: none;
}

.socilal-nav__svg {
  color: var(--main-color);
  transition: color 0.5s ease-out;
}

.socilal-nav__svg:hover {
  color: #EADEED;
}

.socilal-nav__svg:active {
  color: var(--secondary-color);
}
