.socilal-nav__item {
  display: inline-block;
  vertical-align: middle;
}

.socilal-nav__link {
  margin-right: 28px;
}

.socilal-nav__link::before {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.socilal-nav__link_instg::before {
  background-image: url('../image/social-nav/instagram.svg');
}

.socilal-nav__link_vk::before {
  background-image: url('../image/social-nav/vk.svg');
}

.socilal-nav__link_fb::before {
  background-image: url('../image/social-nav/facebook.svg');
}

.socilal-nav__link_tg::before {
  background-image: url('../image/social-nav/telegram.svg');
}
